*{
    margin: 0;
    padding: 0;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 28% 32% 40%;
    grid-template-rows: 5% 42.5% 42.5% 10%;
    grid-template-areas:
"nav nav nav"
"first-aside left-aside top-section"
"first-aside left-aside bottom-section"
"footer footer footer";
}

nav{
    background: #D9D9D9;
    grid-area: nav;
}

.first-aside{
    background: #A4A4A4;
    grid-area: first-aside;
}

.last-aside{
    background: #C1C1C1;
    grid-area: left-aside;
}

.top-section{
    background: #7F7A7A;
    grid-area: top-section;
}

.bottom-section{
    background: #6B6161;
    grid-area: bottom-section;
}

footer{
    background: #D9D9D9;
    grid-area: footer;
}
