*{
    margin: 0;
    padding: 0;
}

h1, .bottomText{
    text-align: center;
    padding: 30px 0;
}

.setCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ede2e2;
    width: 300px;
    height: 400px;
    border-radius: 6%;
    border: 3px solid #cccaca;
    gap: 20px;

}

p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

img{
    height: 200px;
    width: 200px;
}

.bottomText{
    font-size: 23px;
    font-weight: 600;
}
