.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.setCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ede2e2;
    width: 300px;
    height: 400px;
    border-radius: 6%;
    border: 3px solid #cccaca;
}

img{
    height: 200px;
    width: 200px;
}
