*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

header, footer{
    height:22vh ;
    background: #D9D9D9;
}

main{
    display: flex;
}

aside{
    width:27vw ;
    height:56vh;
    background: #C0BDBD;
}

div{
    width: 46vw;
}

section{
    width: 100%;
}

.first{
    height: 26vh;
    background: #827878;
}

.second{
    height: 30vh;
    background: #B7ADAD;

}
