@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}

body>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 321px;
    height: 491px;
    position: relative;
}

.left {
    width: 319px;
    height: 492px;
}

.black{
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
}

.green{
    border: 4px solid #65856E;
    background: rgba(217, 217, 217, 0.30);
}

h3{
    color: #000;
    font-size: 40px;
    margin-bottom:4px ;
}

p{
    width: 211px;
    color: #000;
    text-align: center;
    font-size: 20px;
}

.box>div{
    position: absolute;
    top: -50px;
    z-index: 1;

}
.box>div>img{
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 19px;

}



