@media screen and (min-width: 720px) and (max-width: 1240px) {
    section{
        width: 720px;
        flex-wrap: wrap;
        gap: 24px;
        margin: 48px 24px;

    }

    section div{
        width: 348px;
    }

    section div:nth-child(-n+2){
        margin-bottom: 40px;
    }

}
