body{
    background: #F3F5F6;
    font-family: 'Inter',sans-serif;
}

section{
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px auto;
    gap: 32px;
}

section div{
    width: 271px;
}

section div img{
    width: 160px;
    height: 160px;
    padding: 10px;
}

section div h3{
    color: #161543;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin-top: 20px;
}

section div p{
    color: #7687A1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    margin-top: 10px;
    align-self: stretch;;
}
