body{
    background: #586748;

}

.monthsCards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 10px;

}

.infoMonths{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background: #e2f1cc;
    width: 250px;
    height: 200px;
    padding: 10px 10px 30px 20px;
    box-shadow: -1px 1px 26px 3px rgba(0,0,0,0.59);
    border-radius: 2%;
    transition: 1s;
}

.infoMonths:hover{
    transform: scale(1.07);
    transition: 1s;
}

h1, p{
    margin: 10px;
}

