@media screen and (max-width: 767px) {

    .card {
        padding: 32px 16px;
        gap: 40px;
        flex-direction: column;
        width: 343px;
    }

    .card>div{
        width: 100%;
        height: 332px;
    }
    .card>div:nth-child(-n+3){
        margin-bottom: 0;
    }
}
