body{
    background:#F3F5F6;
    font-family: 'Inter',sans-serif;
}

.card{
    padding: 50px 0;
    display: flex;
    width: 1180px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card>div{
    width: 372px;
    text-align: center;

}
.card>div:nth-child(-n+3){
    margin-bottom: 64px;
}

.card h3{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-top: 20px;
}

.card p{
    color: #3C3C43;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 15px;

}
