body {
    background-image: url(https://multiplex.ua/images/a7/22/a72222b73b8afd1a4aaa081308e11d48.jpeg);
    background-attachment: fixed;
    background-size: cover;

}

h1,h2,p{
    background-color: rgba(105, 105, 105, 0.4);
}

h1{
    font-size: 60px;
    color: red;
    padding-left: 10%;
    width: 600px;
}

h2{
    font-size: 40px;
    width: 400px;
    color: #a2ecde;
}

p{
    font-size: 30px;
    display: inline-block;
    color: #ffffff;
}

img{
    display: inline-block;
    object-fit: cover;
    width: 400px;
}
