body {
    background-image: url("https://cs13.pikabu.ru/post_img/big/2024/07/07/4/172032835115456342.jpg");
    background-attachment: fixed;
}

h1,h2,p{
    background-color: rgba(105, 105, 105, 0.4);
}

h1{
    font-size: 60px;
    color: red;
    padding-left: 10%;
    width: 600px;
}

h2{
    font-size: 40px;
    width: 400px;
}

p{
    font-size: 30px;
    display: inline-block;
    color: #000000;
}

img{
    display: inline-block;
    object-fit: cover;
    width: 400px;
}
