*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
nav ul a{
    color: white;
}
#section-home{
    background-color: #0c0860;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-about{
    background-color: gold;
}
#section-info{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}