*{
    margin: 0;
    padding: 0;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 40% 35% 10% 10%;
    grid-template-columns: 60% 40%;
    grid-template-areas:
"nav nav"
"aside top-section"
"aside bottom-section"
"box box"
"footer footer";
}

nav{
    background: #D9D9D9;
    grid-area: nav;
}

aside{
    background: #A4A4A4;
    grid-area: aside;
}

.top-section{
    background: #7F7A7A;
    grid-area: top-section;
}

.bottom-section{
    background: #615050;
    grid-area: bottom-section;
}

.grid>div{
    background: #D9D9D9;
    grid-area: box;
}

footer{
    background: #AFA9A9;
    grid-area: footer;
}
