*{
    margin: 0;
    padding: 0;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1.8fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
"header header header "
"left-aside  top-section right-aside"
"left-aside bottom-section right-aside"
"footer footer footer";
}

header{
    background: #D9D9D9;
    grid-area: header;
}

.left-aside{
    background: #C0BDBD;
    grid-area: left-aside;
}

.right-aside{
    background: #C0BDBD;
    grid-area: right-aside;
}

.top-section{
    background: #827878;
    grid-area: top-section;
}

.bottom-section{
    background: #B7ADAD;
    grid-area: bottom-section;
}

footer{
    background: #D9D9D9;
    grid-area: footer;
}
