body{
    background: #e1bba4;
    height: 100vh;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.converting{
    width: 100px;
    height: 100px;
    background: red;
    transition: 1.5s;
}

.converting:hover{
    border-radius: 50%;
    background: gray;
    transition: 1.5s;
}
