*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

nav{
    height: 5vh;
    background: #D9D9D9;
}

main{
    height: 74vh;
    display: flex;
    flex-direction: row;
}

.left{
    width: 59vw;
    height: 100%;
    background: #A4A4A4;
}

.right{
    width: 41vw;
    height: 100%;
}

.first{
    width: 100%;
    height: 40vh;
    background: #7F7A7A;
}

.second{
    width: 100%;
    height: 34vh;
    background: #615050;
}

footer{
    height: 22vh;
}

.head{
    height: 10vh;
    background: #D9D9D9;
}

.bottom{
    height: 12vh;
    background: #AFA9A9;
}
