*{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

p{
    text-align: center;
    font-size: 24px;
    padding: 0 70px;
}

h2{
    font-size: 50px;
    font-weight: 400;
}

.first{
    background: pink;
}

.second{
    background: black;
    color: white;
}

