body{
    background-image: url("https://i.etsystatic.com/13234865/r/il/ff8b9b/1947749169/il_fullxfull.1947749169_ldm2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
p{
    color: crimson;
    /*font-size: 32px;*/
    width: 30%;
    height: 50px;
    background-color: black;
    display: inline-block;
}
h1,h2{
    color: cadetblue;
    font-size: 44px
}
sub, sup{
    color: darkturquoise;
    font-size: 16px;
}
span{
    color: darkturquoise;
    /*font-size: 50px;*/
    width: 30%;
    height: 50px;
    background-color: black;
    display: inline-block;
}
img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
