@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.w-1070{
    width: 1070px;
    margin: 0 auto;
}
/*-----------------------header---------------------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans", sans-serif;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header nav ul a{
    color: #696871;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.469px;
}
.header__active-link{
    color: #19191B;
    border-bottom: 2px solid #5454D4;
}
.header_bottom{
    width: 211.02px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF7143;
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    border: none;
}
/*------------------Hero--------------*/
.hero{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 68px;
}
.hero div h1{
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 77px; /* 102.667% */
    letter-spacing: -2.501px;
}
.hero div p{
    color: #696871;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    width: 409.426px;
    margin: 30px 0 50px 0;
}
.hero button{
    width: 188.211px;
    height: 60px;
    border-radius: 10px;
    background: #5454D4;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
    border: none;
}
/*------------------brands-----------------*/
.brands{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 212px 0 160px 0;

}
/*------------------analytics------------------*/

.analytics{
    margin: 160px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subscription{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 166px;
}

.subscription div{
    display: flex;
    width: 556px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.subscription div h2{
    color: #19191B;
    font-family: "DM Sans",sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -1.563px;
}

.subscription div p{
    color: #696871;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.625px;
    width: 459px;
}

.subscription div a{
    color: #5454D4;
    font-family: "DM Sans",sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}

.metrics{
    margin-top: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 208px;
}

.metrics div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.metrics div h2{
    color: #19191B;
    font-family: "DM Sans",sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -1.563px;
}

.metrics div p{
    color: #696871;
    font-family: Mulish,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.625px;
    width: 409px;
}

.metrics div a {
    color: #5454D4;
    font-family: "DM Sans",sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.info div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.info div h3{
    color: #19191B;
    text-align: center;
    font-family: "DM Sans",sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.75px;
}

.info div p{
    color: #696871;
    text-align: center;
    font-family: Mulish,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
    width: 307px;
}

footer{
    margin-top: 150px;
    margin-bottom: 174px;
}

.plan_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 98px;

}
button{
    border: none;
}

.plan_product h2{
    width: 523px;
    color: #19191B;
    font-family: "DM Sans",sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.876px;
}

.plan_product>div{
    width: 344px;
    height: 65px;
    border-radius: 10px;
    background: #F7F7FB;
    display: flex;
    align-items: center;
}

.plan_product>div>div>button{
    width: 160px;
    height: 55px;
    border-radius: 10px 0 0 10px;
    background: #5454D4;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
    margin: 5px 0 5px 6px;
}

.plan_product>div>button{
    color: #19191B;
    text-align: center;
    font-family: "DM Sans",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
    background: #F7F7FB;
    width: 175px;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
}

.price>div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 330px;
    height: 441px;
    border-radius: 10px;
    background: #F8F8F8;
    transition: 2s;
}

.price>div>p{
    color: #696871;
    text-align: center;
    font-family: "DM Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.563px;
    margin-top: 34px;
    transition: 2s;
}

.price h3{
    color: #1D293F;
    text-align: center;
    font-family: "DM Sans",sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034px;
    padding-top: 22px;
    margin-bottom: 28px;
    transition: 2s;
}

.price span{
    color: #1D293F;
    font-family: "DM Sans",sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034px;
    transition: 2s;
}

.price>div>div>p{
    color: #696871;
    text-align: center;
    font-family: Mulish,sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.531px;
    transition: 2s;
}

.price button{
    color: #5454D4;
    text-align: center;
    font-family: "DM Sans",sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    background: #FFF;
    width: 285px;
    height: 60px;
    margin-top: 36px;
    transition: 2s;
}

.price>div:hover{

    border-radius: 10px;
    background: #FF7143;
    box-shadow: 0 32px 34px 0 rgba(255, 112, 59, 0.32);
    transition: 2s;
    transform: scaleX(1.14) scaleY(1.07257);
}

.price>div>p:hover{
    color: rgba(255, 255, 255, 0.70);
    transition: 2s;
}

.price h3:hover{
    color: #FFF;
    transition: 2s;
}
.price span:hover{
    color: #FFF;
    transition: 2s;
}
